<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/css/cart.css}">
    <link rel="stylesheet" th:href="@{assets/css/header.css}">
    <link rel="stylesheet" th:href="@{assets/css/footer.css}">
    <link rel="stylesheet" th:href="@{assets/css/dashboard.css}">
    <title>Learning Progress Dashboard</title>
    <script src="https://kit.fontawesome.com/acf74393da.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS-->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Additional Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/assets/css/your-course.css}">

    <style>
        .cart-container {
            position: relative;
            display: inline-block;
        }

        .fa-rectangle {
            position: absolute;
            top: -0.9em;
            right: -1.2em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 1.5em;
            background-color: #ffb963;
            border-radius: 50%;
            color: #ffb963;
            font-size: 0.8em;
            line-height: 1.5em;
        }

        .rectangle-number {
            display: inline-block;
            color: white;
        }

        .row-flex{
            display: flex;
            flex-wrap: wrap;
        }

        .column-flex-3{

            width: 20%;
        }

        .colum-flex-9{

            width: 80%;
        }

        #dashboard-title{
            margin-top: 20px;
            border-bottom: rgba(173, 173, 173, 0.99) 2px solid;
            margin-bottom: 40px;
            padding-bottom: 15px;
            width: 100%;
        }

        #dashboard-title h2{
            font-weight: bold;
            color: black;
        }

        #paymentList-title{
            margin-top: 20px;
            border-bottom: rgba(173, 173, 173, 0.99) 2px solid;
            margin-bottom: 40px;
            padding-bottom: 15px;
            width: 100%;
        }

        #paymentList-title h2{
            font-weight: bold;
            color: black;
        }

        .admin-avt{
            margin-top: 20px;
            margin-left: 5px;
            vertical-align: middle;
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        .menu button{
            border-radius: 5px;
            margin-right: 20px;
            border: none;
            font-size: 13px;
            background-color: #dc8cdb;
            color: #fff;
            padding: 15px;
            display: inline-block;
            border-radius: 5px;
            font-weight: 500;
            text-transform: uppercase;
            transition: all .3s;
            width: 100%;
        }

        .menu button a{
            color: #fff;
        }

        .menu button:hover{
            background: #fff;
            color: #dc8cdb;
        }

        .menu button a:hover{
            color: #dc8cdb;
        }

        .pList{
            width: 97%;
            margin-left: 15px;
        }

        .pList-content{
            border: none;
            border-radius: 7px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        .pList-content tbody tr{
            border-bottom: rgba(173, 173, 173, 0.99) solid 1px;
        }

        .payDetails{
            background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%) !important;
            border-radius: 7px;
            height: 5vh;
            border: none;
            width: 100%;
            color: #fff;
        }

        .payDetails:hover{
            background: linear-gradient(-145deg, rgb(178, 102, 182) 0%, rgb(213, 154, 125) 100%) !important;
        }

        #dashboardShow:hover{
            color: #dc8cdb;
        }
        #paymentShow:hover{
            color: #dc8cdb;
        }
        .status{
            padding: 5px;
            border-radius: 10px;
        }


    </style>
</head>
<body onload="showMessage()">
<!-- Modal -->
<div class="modal fade" tabindex="-1" id="paymentDetailsModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Payment details</h5>
            </div>
            <div class="modal-body">
                <div>
                    <p><strong>User Name:</strong> <span id="userName"></span></p>
                    <p><strong>Payment Amount:</strong> <span id="paymentAmount"></span></p>
                    <p><strong>Card Number:</strong> <span id="cardNumber"></span></p>
                    <p><strong>CVV:</strong> <span id="cvv"></span></p>
                    <p><strong>Expiry Date:</strong> <span id="expiryDate"></span></p>
                    <p><strong>Name On Card:</strong> <span id="nameOnCard"></span></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- ***** OffCanvas Start *****-->
<div class="offcanvas offcanvas-end" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Cart</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div th:if="${session.cart!=null}">
            <th:block th:each="cart, state: ${session.cart}">
                <form
                        role="form"
                        method="post"
                        th:action="@{/cart}"
                        th:object="${courseDTO}"
                >
                    <div class="cartContent" >
                        <div style="display: inline-flex">
                            <input type="text" name="fromPage" value="list" style="display: none">
                            <input type="number" th:value="${cart.courseID}" th:name="courseID" style="display: none">
                            <input type="number" name="discountPrice" th:value="${cart.price}" style="display: none">
                            <div>
                                <img th:src="'https://drive.google.com/uc?id='+${cart.courseImage}" style="width: 70px; height: 70px;">
                            </div>
                            <h4 th:text="${cart.courseName}"></h4>
                            <p th:text="'Price: '+${cart.price}+'đ'" style="float: left; margin-left: 15px; padding-top: 10px; font-weight: 500"></p>
                        </div>
                        <div style="display:inline-flex; margin-top: 10px">
                            <input type="submit" value="Buy now" class="buy-now-cart" name="paymentButton">
                            <input type="submit" value="Remove from cart" class="buy-now-cart" name="paymentButton">
                        </div>
                    </div>
                </form>
            </th:block>
            <button id="check-out"><a th:href="@{/checkout(cartButton = 'checkout')}" th:text="'Check out: '+${session.sum}+'đ'"></a></button>
            <form
                    role="form"
                    method="post"
                    th:action="@{/cart}"
                    th:object="${courseDTO}"
            >
                <input id="remove-all" type="submit" name="paymentButton" value="Remove All">
                <input type="text" name="fromPage" value="list" style="display: none">
            </form>
        </div>
        <div th:if="${session.cart==null}">
            <div class="cartContent" style="display: inline-flex">
                <h4 style="margin-bottom: 10px;">Cart is empty</h4>
            </div>
        </div>
    </div>
</div>
<!-- ***** OffCanvas End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/home}" class="logo">
                        <p style="margin-top: 40px; color: white">YourCourse</p>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <form
                                role="form"
                                method="post"
                                th:action="@{/search}"
                                th:object="${courseDTO}"
                        >
                            <input type="text" th:field="*{courseName}" placeholder="Search.." style="opacity: 0.5; border-radius: 7px">
                        </form>
                        <li class="has-sub">
                            <a>Category</a>
                            <ul class="sub-menu">
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=1)}">Language Learning</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=2)}">Web development</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=3)}">Web design</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=4)}">IT Fundamental</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=5)}">Mathematics</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=6)}">Programming</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/course}">Courses</a></li>
                        <li class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo"
                            style="color: white; background: none; border: none">
                            <div class="cart-container">
                                <i class="fa-solid fa-shopping-cart"></i>
                                <th:block th:if="${session.cart!=null}">
                                    <i class="fa-solid fa-rectangle"><span class="rectangle-number">[[${session.cartSize}]]</span></i>
                                </th:block>
                            </div>
                        </li>
                        <p th:if="${session.CSys}!=null">
                        <li><a th:href="@{/myCourse}">My Course</a></li>
                        </p>
                        <li class="has-sub">
                            <i class="fa-solid fa-user" style="color: white">
                                <ul class="sub-menu">
                                    <p th:if="${session.CSys}!=null">
                                    <li th:if="${session.role==2}"><a th:href="@{/dashboard}">Dashboard</a></li>
                                    <li><a th:href="@{/profile}">My Account</a></li>
                                    <li><a th:href="@{/logout}">Log out</a></li>
                                    </p>
                                    <p th:if="${session.CSys}==null">
                                    <li><a th:href="@{/login}">Log in</a></li>
                                    </p>
                                </ul>
                            </i>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="container-fluid"  style="margin-top: 110px; padding-top: 20px">
    <div>
        <div id="dashboard-title" style="display: block">
            <h2>Dashboard</h2>
        </div>
        <div id="paymentList-title" style="display: none">
            <h2>Payment List</h2>
        </div>
    </div>
    <div class="row-flex">
        <div class="column-flex-3">
            <div class="chart-container" style="width: 100%; height: 100%; align-content: center">
                <div class="admin-info" style="margin-bottom: 15px;">
                    <div th:if="${userInfo.avatar!=null}">
                        <img th:src="'https://drive.google.com/uc?id='+${userInfo.avatar}" alt="Image" class="admin-avt">
                    </div>
                    <div th:if="${userInfo.avatar==null}">
                        <img alt="Image" class="admin-avt">
                    </div>
                    <p th:text="'Welcome, '+${userInfo.userName}" style="margin-top: 15px;font-weight: 700;"></p>
                </div>
                <div class="menu">
                    <button><a th:href="@{/allCourses}">Go to all course</a></button>
                    <button><a th:href="@{/allUsers}">Go to user list</a></button>
                    <button id="dashboardShow" onclick="showDashBoard()">Dashboard</button>
                    <button id="paymentShow" onclick="showPaymentList()">PaymentList</button>
                    <button><a th:href="@{/profile}">Your profile</a></button>
                </div>
            </div>
        </div>
        <div class="colum-flex-9" id="dashboard" style="display: block">
            <div class="totalStatistic">
                <div class="displayTotalStatistic">
                    <i class="fa-solid fa-cash-register display-i"></i>
                    <div>
                        <h2 th:text="${totalPayment}"></h2>
                        <p>Total payment: </p>
                        <p th:text="${growthPayment}+'%(30 days)'"></p>
                        <th:block th:if="${statusOfGrowthPayment=='increase'}">
                            <i class="fa-solid fa-arrow-up" style="color: green"></i>
                            <span th:text="'Increase '+${growthPaymentOfOneMonthRecent}+'% compare to previous month'"></span>
                        </th:block>
                        <th:block th:if="${statusOfGrowthPayment=='decrease'}">
                            <i class="fa-solid fa-arrow-down" style="color: red"></i>
                            <span th:text="'Decrease '+${growthPaymentOfOneMonthRecent}+'% compare to previous month'"></span>
                        </th:block>
                    </div>
                </div>
                <div class="displayTotalStatistic">
                    <i class="fa-solid fa-book display-i"></i>
                    <div>
                        <h2 th:text="${totalNumberOfCourseBought}"></h2>
                        <p>Total course bought: </p>
                        <p th:text="${growthCourseBought}+'%(30 days)'"></p>
                            <th:block th:if="${statusOfGrowthCourseBought=='increase'}">
                                <i class="fa-solid fa-arrow-up" style="color: green"></i>
                                <span th:text="'Increase '+${growthCourseBoughtOfOneMonthRecent}+'% compare to previous month'"></span>
                            </th:block>
                        <th:block th:if="${statusOfGrowthCourseBought=='decrease'}">
                            <i class="fa-solid fa-arrow-down" style="color: red"></i>
                            <span th:text="'Decrease '+${growthCourseBoughtOfOneMonthRecent}+'% compare to previous month'"></span>
                        </th:block>
                    </div>
                </div>
                <div class="displayTotalStatistic">
                    <i class="fa-solid fa-money-bill display-i"></i>
                    <div>
                        <h2 th:text="${totalRevenue}"></h2>
                        <p>Total revenue: </p>
                        <p th:text="${growthRevenue}+'%(30 days)'"></p>
                        <th:block th:if="${statusOfGrowthRevenue=='increase'}">
                            <i class="fa-solid fa-arrow-up" style="color: green"></i>
                            <span th:text="'Increase '+${growthRevenueOfOneMonthRecent}+'% compare to previous month'"></span>
                        </th:block>
                        <th:block th:if="${statusOfGrowthRevenue=='decrease'}">
                            <i class="fa-solid fa-arrow-down" style="color: red"></i>
                            <span th:text="'Decrease '+${growthRevenueOfOneMonthRecent}+'% compare to previous month'"></span>
                        </th:block>
                    </div>
                </div>
            </div>

            <div class="chart-container">
                <h2>Category Distribution</h2>
                <canvas id="pieChart" class="small-chart"></canvas>
            </div>
            <div class="chart-container">
                <div>
                    <h2>Revenue growth</h2>
                    <canvas id="lineColumnChart"></canvas>
                </div>
            </div>
            <div class="chart-container">
                <div>
                    <h2>Number of registered user five week recent</h2>
                    <canvas id="barChart"></canvas>
                </div>
            </div>
            <div class="chart-container">
                <h2>User Comments</h2>
                <table>
                    <tr>
                        <th>Course Name</th>
                        <th>Rating</th>
                        <th>Comment</th>
                    </tr>
                    <th:block th:each="rates: ${userRating}">
                        <th:block th:each="course: ${courseList}">
                            <tr th:if="${rates.courseID.courseID == course.courseID}">
                                <td th:text="${course.courseName}"></td>
                                <td>
                                    <th:block th:switch="${rates.rating}">
                                        <div th:case="1">
                                            <span class="star-rating">⭐</span>
                                        </div>
                                        <div th:case="2">
                                            <span class="star-rating">⭐⭐</span>
                                        </div>
                                        <div th:case="3">
                                            <span class="star-rating">⭐⭐⭐</span>
                                        </div>
                                        <div th:case="4">
                                            <span class="star-rating">⭐⭐⭐⭐</span>
                                        </div>
                                        <div th:case="5">
                                            <span class="star-rating">⭐⭐⭐⭐⭐</span>
                                        </div>
                                    </th:block>
                                </td>
                                <td th:text="${rates.comment}"></td>
                            </tr>
                        </th:block>
                    </th:block>
                </table>
            </div>
        </div>
        <div class="colum-flex-9" id="paymentList" style="display: none">
            <div class="pList">
                    <table class="pList-content">
                            <tr style="background: rgba(173, 173, 173, 0.99)">
                                 <td style="font-weight: 700;">Payment ID</td>
                                 <td style="font-weight: 700;">Payment amount</td>
                                 <td style="font-weight: 700;">Payment Date</td>
                                 <td style="font-weight: 700;">Customer Name</td>
                                 <td style="font-weight: 700;">Payment Status</td>
                                 <td></td>
                            </tr>
                        <tr th:each="payments: ${paymentList}">
                            <td th:text="${payments.paymentID}"></td>
                            <td th:text="${payments.paymentAmount}+'đ'"></td>
                            <td th:text="${payments.paymentDate}"></td>
                            <td>
                                <th:block th:each="user: ${userList}">
                                    <th:block th:if="${payments.userID.userID == user.userID}">
                                        <span th:text="${user.userName}"></span>
                                    </th:block>
                                </th:block>
                            </td>
                            <td>
                                <form th:id="'formStatus'+${payments.paymentID}" role="form" method="post" th:original-status="${payments.status}" th:action="@{/confirmPayment}">
                                    <input type="text" name="paymentID" th:value="${payments.paymentID}" style="display: none">
                                    <select class="status" name="pStatus" onchange="updateStatus(this)">
                                        <option value="Pending" th:selected="${payments.status=='Pending'}" selected>Pending</option>
                                        <option value="Confirm" th:selected="${payments.status=='Confirm'}" selected>Confirm</option>
                                        <option value="Reject" th:selected="${payments.status=='Reject'}" selected>Reject</option>
                                    </select>
                                </form>
                            </td>
                            <td>
                                <button class="payDetails" id="paymentDetails" th:data-cardNumber="${payments.cardNumber}" th:data-cvv="${payments.cvv}" th:data-expiryDate="${payments.expiryDate}" th:data-nameOnCard="${payments.nameOnCard}"
                                        th:data-paymentAmount="${payments.paymentAmount}" th:data-paymentID="${payments.paymentID}"
                                        th:data-paymentDate="${payments.paymentDate}" th:data-userName="${payments.userID.userName}"
                                >View payment details</button>
                            </td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
</div>


<!-- ***** Footer *****-->
<footer style="margin-top: 30px">
    <div class="container-fluid footer-st" style="padding: 10px 0px 20px 0px;">
        <div class="row">
            <div class="col-lg-4">
                <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">Follow us</p>
                <ul class="social-icons" style="margin-top: 10px;">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">About us</p>
                <div style="margin-top: 10px; text-align: center" >
                    <a style="color: #fff">Our mission is to bring service to help people study better</a><br>
                    <a style="color: #fff">Our team: FPT University-SWP391-Group 6</a>
                </div>
            </div>
            <div class="col-lg-4">
                <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">Further information</p>
                <div style="margin-top: 10px; text-align: center">
                    <a th:href="@{/policy}" style="color: #fff;">Policy</a><br>
                    <i class="fa-solid fa-phone" style="color: #fff;"></i><a style="color: #fff">Phone: 0393910645</a>
                </div>
            </div>
            <div class="col-lg-6" style="height: 50px">
                <a th:href="@{/home}" class="logo">
                    <p style="
                  text-align: center;
                  margin-top: 40px;
                  color: #fff;
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                  letter-spacing: 2px;"
                    >
                        YourCourse
                    </p>
                </a>
            </div>
            <div class="col-lg-6" style="height: 50px">
                <p class="copyright" style="margin-bottom: 0px"> © 2023 YourCourse Web Application</p>
            </div>
        </div>
    </div>
</footer>
<!-- ***** End Footer *****-->

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/lightbox.js"></script>
<script src="assets/js/tabs.js"></script>
<script src="assets/js/slick-slider.js"></script>
<script src="assets/js/custom.js"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script th:inline="javascript">

    function showMessage(){
        var message = [[${successMessage}]];
        if(message != null){
            alert(message);
        }
        var error = [[${errorMsg}]];
        if(error != null){
            alert(error);
        }
    }

    var paymentDetails = document.querySelectorAll('[data-paymentid]');
    paymentDetails.forEach(function (btn) {
        btn.addEventListener('click', function () {
            var cardNumber = this.getAttribute('data-cardNumber');
            var cvv = this.getAttribute('data-cvv');
            var expiryDate = this.getAttribute('data-expiryDate');
            var nameOnCard = this.getAttribute('data-nameOnCard');
            var paymentAmount = this.getAttribute('data-paymentAmount');
            var userName = this.getAttribute('data-userName');


            //display modal
            var pmDetailsmodal = document.getElementById('paymentDetailsModal');
            var modal = new bootstrap.Modal(pmDetailsmodal);

            //set values to modal fields
            var userNameElement = document.getElementById('userName');
            userNameElement.textContent = userName;

            var paymentAmountElement = document.getElementById('paymentAmount');
            paymentAmountElement.textContent = paymentAmount;

            var cardNumberElement = document.getElementById('cardNumber');
            cardNumberElement.textContent = cardNumber;

            var cvvElement = document.getElementById('cvv');
            cvvElement.textContent = cvv;

            var expiryDateElement = document.getElementById('expiryDate');
            expiryDateElement.textContent = expiryDate;

            var nameOnCardElement = document.getElementById('nameOnCard');
            nameOnCardElement.textContent = nameOnCard;

            modal.show();
        });
    });


    function updateStatus(selectElement) {
        const formElement = selectElement.closest("form");
        const options = selectElement.options;
        let originalStatus = "";
        for (let i = 0; i < options.length; i++) {
            if (options[i].hasAttribute("selected")) {
                originalStatus = options[i].value;
                break;
            }
        }
        const pStatus = selectElement.value;
        const confirmMessage = "Are you sure to " + pStatus + " this payment?";
        if (!confirm(confirmMessage)) {
            for (let i = 0; i < options.length; i++) {
                options[i].removeAttribute('selected');
            }
            for (let i = 0; i < options.length; i++) {
                if (options[i].value === originalStatus) {
                    options[i].setAttribute('selected', true);
                    break;
                }
            }
            return false;
        }
        formElement.submit();
    }

    function showDashBoard(){
        var dashboardShow = document.getElementById('dashboard');
        dashboardShow.style.display = 'block';
        var dashboardTitle = document.getElementById('dashboard-title');
        dashboardTitle.style.display = 'block';
        var paymentList = document.getElementById('paymentList');
        paymentList.style.display = 'none';
        var paymentListTitle = document.getElementById('paymentList-title');
        paymentListTitle.style.display = 'none';
    }

    function showPaymentList(){
        var paymentList = document.getElementById('paymentList');
        paymentList.style.display = 'block';
        var paymentListTitle = document.getElementById('paymentList-title');
        paymentListTitle.style.display = 'block';
        var dashboardShow = document.getElementById('dashboard');
        dashboardShow.style.display = 'none'
        var dashboardTitle = document.getElementById('dashboard-title');
        dashboardTitle.style.display = 'none';
    }

    // Pie Chart
    var pieChart = new Chart(document.getElementById('pieChart'), {
        type: 'pie',
        data: {
            labels: ['Language Learning', 'Web development', 'Web design', 'IT Fundamental', 'Mathematics', 'Fundamental Programming'],
            datasets: [{
                data: [ [[${percentCourseOfCate1}]], [[${percentCourseOfCate2}]], [[${percentCourseOfCate3}]], [[${percentCourseOfCate4}]], [[${percentCourseOfCate5}]], [[${percentCourseOfCate6}]] ],
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56', '#31be73',
                    '#9933FF', '#b4815f']
            }]
        }
    });

    // Get the current month as a Date object
    var now = new Date();

    // Create an array of labels that goes back 6 months
    var labelMonths = [];
    for (var i = 5; i >= 0; i--) {
        var label = new Date(now.getFullYear(), now.getMonth() - i, 1).toLocaleString('default', { month: 'short' });
        labelMonths.push(label);
    }

    // Line and Column Mixed Chart
    var lineColumnChart = new Chart(document.getElementById('lineColumnChart'), {
        type: 'bar',
        data: {
            labels: labelMonths,
            datasets: [
                {
                    type: 'line',
                    label: 'Overall Progress',
                    data: [ [[${revenueOfSixMonthRecent}]], [[${revenueOfFiveMonthRecent}]], [[${revenueOfFourMonthRecent}]]
                        , [[${revenueOfThreeMonthRecent}]], [[${revenueOfTwoMonthRecent}]], [[${revenueOfOneMonthRecent}]] ],
                    borderColor: '#FF6384',
                    fill: false
                },
                {
                    type: 'bar',
                    label: 'Individual Ratings',
                    data: [ [[${revenueOfSixMonthRecent}]], [[${revenueOfFiveMonthRecent}]], [[${revenueOfFourMonthRecent}]]
                        , [[${revenueOfThreeMonthRecent}]], [[${revenueOfTwoMonthRecent}]], [[${revenueOfOneMonthRecent}]] ],
                    backgroundColor: '#36A2EB'
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 100
                    }
                }]
            }
        }
    });

    // Calculate the start and end dates of each week
    var now = new Date();
    var oneWeekAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);
    var twoWeeksAgo = new Date(now.getTime() - 14 * 24 * 60 * 60 * 1000);
    var threeWeeksAgo = new Date(now.getTime() - 21 * 24 * 60 * 60 * 1000);
    var fourWeeksAgo = new Date(now.getTime() - 28 * 24 * 60 * 60 * 1000);
    var fiveWeeksAgo = new Date(now.getTime() - 35 * 24 * 60 * 60 * 1000);

    // Format the dates as strings in the format "dd/MM/yyyy"
    var dateFormat = 'dd/MM/yyyy';
    var nowStr = now.toLocaleDateString('en-US', { timeZone: 'UTC', year: 'numeric', month: '2-digit', day: '2-digit' });
    var oneWeekAgoStr = oneWeekAgo.toLocaleDateString('en-US', { timeZone: 'UTC', year: 'numeric', month: '2-digit', day: '2-digit' });
    var twoWeeksAgoStr = twoWeeksAgo.toLocaleDateString('en-US', { timeZone: 'UTC', year: 'numeric', month: '2-digit', day: '2-digit' });
    var threeWeeksAgoStr = threeWeeksAgo.toLocaleDateString('en-US', { timeZone: 'UTC', year: 'numeric', month: '2-digit', day: '2-digit' });
    var fourWeeksAgoStr = fourWeeksAgo.toLocaleDateString('en-US', { timeZone: 'UTC', year: 'numeric', month: '2-digit', day: '2-digit' });
    var fiveWeeksAgoStr = fiveWeeksAgo.toLocaleDateString('en-US', { timeZone: 'UTC', year: 'numeric', month: '2-digit', day: '2-digit' });

    // Set the labels array with the formatted dates
    var labels = [`${nowStr} - ${oneWeekAgoStr}`, `${oneWeekAgoStr} - ${twoWeeksAgoStr}`, `${twoWeeksAgoStr} - ${threeWeeksAgoStr}`, `${threeWeeksAgoStr} - ${fourWeeksAgoStr}`, `${fourWeeksAgoStr} - ${fiveWeeksAgoStr}`];

    // Bar Chart for Time Learning in a Week
    var barChart = new Chart(document.getElementById('barChart'), {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [
                {
                    label: 'Number Of New User (people)',
                    data: [ [[${week1}]], [[${week2}]], [[${week3}]], [[${week4}]], [[${week5}]] ],
                    backgroundColor: '#33FF99'
                }
            ]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max: 20
                    }
                }]
            }
        }
    });
</script>
</body>
</html>
