<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="stylesheet" th:href="@{assets/css/cart.css}">
  <link rel="stylesheet" th:href="@{assets/css/header.css}">
  <link rel="stylesheet" th:href="@{assets/css/footer.css}">
  <link rel="stylesheet" th:href="@{assets/css/listStyle.css}">
  <title>Course List</title>
  <script src="https://kit.fontawesome.com/acf74393da.js" crossorigin="anonymous"></script>
  <!-- Bootstrap core CSS-->
  <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Additional Boostrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <!-- Additional CSS Files -->
  <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
  <link rel="stylesheet" th:href="@{/assets/css/your-course.css}">

  <style>
    .cart-container {
      position: relative;
      display: inline-block;
    }

    .fa-rectangle {
      position: absolute;
      top: -0.9em;
      right: -1.2em;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2em;
      height: 1.5em;
      background-color: #ffb963;
      border-radius: 50%;
      color: #ffb963;
      font-size: 0.8em;
      line-height: 1.5em;
    }

    .rectangle-number {
      display: inline-block;
      color: white;
    }


    #addCourse{
      border: none;
      background: #74ce74;
      padding: 15px;
      border-radius: 7px;
      color: #fff;
      color: #fff;
      font-weight: 600;
    }

    #addCourse:hover{
      background: #4d9f4d;
    }

    #updateButton{
      border: none;
      padding: 10px 20px;
      background: cornflowerblue;
      border-radius: 7px;
      color: #fff;
      font-weight: 600;
      display: block;
      text-align: center;
      margin-right: 10px;
    }

    #updateButton:hover{
      background: #426cb8;
    }

    #del-a{
      border: none;
      padding: 10px 20px;
      background: #ea0200;
      border-radius: 7px;
      margin-top: 5px;
      color: #fff;
      font-weight: 600;
      display: block;
      text-align: center;
      margin-right: 10px;
    }

    #del-a:hover{
      background: #b30000;
    }

    #discountCourseID{
      display: none;
    }

    #percentage,
    #discountStart,
    #discountEnd{
      width: 100%;
      height: 40px;
      border-radius: 5px;
      background-color: #f4f7fb;
      outline: none;
      border: none;
      box-shadow: none;
      font-size: 13px;
      font-weight: 500;
      color: #7a7a7a;
      padding: 0px 15px;
      margin-bottom: 10px;
    }

    #submit-add{
      border: none;
      font-size: 13px;
      background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%) !important;
      color: #fff;
      padding: 12px 30px;
      display: inline-block;
      border-radius: 5px;
      font-weight: 500;
      text-transform: uppercase;
      transition: all .3s;
      float: right;
    }

    #submit-add:hover{
      background: linear-gradient(-145deg, rgb(178, 102, 182) 0%, rgb(213, 154, 125) 100%) !important;
    }
  </style>
</head>

<body>
<!-- ***** OffCanvas Start *****-->
<div class="offcanvas offcanvas-end" id="demo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title">Cart</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <div th:if="${session.cart!=null}">
      <th:block th:each="cart, state: ${session.cart}">
        <form
                role="form"
                method="post"
                th:action="@{/cart}"
                th:object="${courseDTO}"
        >
          <div class="cartContent" >
            <div style="display: inline-flex">
              <input type="text" name="fromPage" value="list" style="display: none">
              <input type="number" th:value="${cart.courseID}" th:name="courseID" style="display: none">
              <input type="number" name="discountPrice" th:value="${cart.price}" style="display: none">
              <div>
                <img th:src="'https://drive.google.com/uc?id='+${cart.courseImage}" style="width: 70px; height: 70px;">
              </div>
              <h4 th:text="${cart.courseName}"></h4>
              <p th:text="'Price: '+${cart.price}+'đ'" style="float: left; margin-left: 15px; padding-top: 10px; font-weight: 500"></p>
            </div>
            <div style="display:inline-flex; margin-top: 10px">
              <input type="submit" value="Buy now" class="buy-now-cart" name="paymentButton">
              <input type="submit" value="Remove from cart" class="buy-now-cart" name="paymentButton">
            </div>
          </div>
        </form>
      </th:block>
      <button id="check-out"><a th:href="@{/checkout(cartButton = 'checkout')}" th:text="'Check out: '+${session.sum}+'đ'"></a></button>
      <form
              role="form"
              method="post"
              th:action="@{/cart}"
              th:object="${courseDTO}"
      >
        <input id="remove-all" type="submit" name="paymentButton" value="Remove All">
        <input type="text" name="fromPage" value="list" style="display: none">
      </form>
    </div>
    <div th:if="${session.cart==null}">
      <div class="cartContent" style="display: inline-flex">
        <h4 style="margin-bottom: 10px;">Cart is empty</h4>
      </div>
    </div>
  </div>
</div>
<!-- ***** OffCanvas End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a th:href="@{/home}" class="logo">
            <p style="margin-top: 40px; color: white">YourCourse</p>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <form
                    role="form"
                    method="post"
                    th:action="@{/search}"
                    th:object="${courseDTO}"
            >
              <input type="text" th:field="*{courseName}" placeholder="Search.." style="opacity: 0.5; border-radius: 7px">
            </form>
            <li class="has-sub">
              <a>Category</a>
              <ul class="sub-menu">
                <li><a th:href="@{/getCourseByCategoryID(categoryID=1)}">Language Learning</a></li>
                <li><a th:href="@{/getCourseByCategoryID(categoryID=2)}">Web development</a></li>
                <li><a th:href="@{/getCourseByCategoryID(categoryID=3)}">Web design</a></li>
                <li><a th:href="@{/getCourseByCategoryID(categoryID=4)}">IT Fundamental</a></li>
                <li><a th:href="@{/getCourseByCategoryID(categoryID=5)}">Mathematics</a></li>
                <li><a th:href="@{/getCourseByCategoryID(categoryID=6)}">Programming</a></li>
              </ul>
            </li>
            <li><a th:href="@{/course}">Courses</a></li>
            <li class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo"
                style="color: white; background: none; border: none">
              <div class="cart-container">
                <i class="fa-solid fa-shopping-cart"></i>
                <th:block th:if="${session.cart!=null}">
                  <i class="fa-solid fa-rectangle"><span class="rectangle-number">[[${session.cartSize}]]</span></i>
                </th:block>
              </div>
            </li>
            <p th:if="${session.CSys}!=null">
            <li><a th:href="@{/myCourse}">My Course</a></li>
            </p>
            <li class="has-sub">
              <i class="fa-solid fa-user" style="color: white">
                <ul class="sub-menu">
                  <p th:if="${session.CSys}!=null">
                  <li th:if="${session.role==2}"><a th:href="@{/dashboard}">Dashboard</a></li>
                  <li><a th:href="@{/profile}">My Account</a></li>
                  <li><a th:href="@{/logout}">Log out</a></li>
                  </p>
                  <p th:if="${session.CSys}==null">
                  <li><a th:href="@{/login}">Log in</a></li>
                  </p>
                </ul>
              </i>
            </li>
          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Modal Start ***** -->
<div class="modal fade" tabindex="-1" id="discountModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <!-- Modal content goes here -->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="font-weight: 700;">Add discount form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form role="form" method="post" th:action="@{/addDiscount}" th:object="${discountDTO}">
          <input type="number" id="discountCourseID" name="courseID">
          <label for="percentage">Discount value(%)</label>
          <input type="number" id="percentage" th:field="*{percentage}" required>
          <label for="discountStart">Discount start</label>
          <input type="date" id="discountStart" th:field="*{discountStart}" required>
          <label for="discountEnd">Discount end</label>
          <input type="date" id="discountEnd" th:field="*{discountEnd}" required>
          <input type="submit" value="Add" id="submit-add">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- ***** Modal End ***** -->

<div class="container-fluid" style="margin-left: 20px; margin-top: 120px">
  <div class="listTitle">
    <h1 style="margin-left: 20px">All Course</h1>
  </div>
  <div class="row">
    <div class="col-md-3 filter">
      <div class="filterTitle">
        <h2>Filter and refine</h2>
        <form method="post" role="form" th:action="@{/filter}" th:object="${categoryDTO}" style="margin-top: 20px">
          <input type="checkbox" th:value="'All'" th:field="*{categoryName}" onclick="this.form.submit()">
          <span th:text="'All'" style="margin-left: 5px"></span>
        </form>
      </div>
      <!-- Category -->
      <div class="accordion accordion-flush" id="accordionFlushCategory">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingCategory">
            <button class="accordion-button collapsed lName" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseCategory" aria-expanded="false" aria-controls="'flush-collapseCategory">
              <p th:text="'Category'"></p>
            </button>
          </h2>
          <div th:id="flush-collapseCategory" class="accordion-collapse collapse" aria-labelledby="flush-headingCategory" data-bs-parent="#accordionFlushCategory">
            <form method="post" role="form" th:action="@{/filter}" th:object="${categoryDTO}">
              <div th:each="category, state: ${category}">
                <div class="accordion-body">
                  <div class="option">
                    <input type="checkbox" th:value="${category.categoryName}" th:field="*{categoryName}" onclick="this.form.submit()"><p th:text="${category.categoryName}"></p>
                    <br>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Period -->
      <div class="accordion accordion-flush" id="accordionFlushPeriod">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingPeriod">
            <button class="accordion-button collapsed lName" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePeriod" aria-expanded="false" aria-controls="'flush-collapsePeriod">
              <p th:text="'Period'"></p>
            </button>
          </h2>
          <div th:id="flush-collapsePeriod" class="accordion-collapse collapse" aria-labelledby="flush-headingPeriod" data-bs-parent="#accordionFlushPeriod">
            <form
                    role="form"
                    method="post"
                    th:action="@{/sort}"
                    th:object="${courseDTO}"
                    style="margin-right: 30px;"
            >
              <br>
              <input type="radio" th:value="'Newest'" name="option" onclick="this.form.submit()"><p th:text="'Newest'"></p>
              <br>

              <input type="radio" th:value="'Oldest'" name="option" onclick="this.form.submit()"><p th:text="'Oldest'"></p>
              <br>

              <input type="radio" th:value="'About to end'" name="option" onclick="this.form.submit()"><p th:text="'About to end'"></p>
              <br>
            </form>
          </div>
        </div>
      </div>

      <!-- Price -->
      <div class="accordion accordion-flush" id="accordionFlushPrice">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingPrice">
            <button class="accordion-button collapsed lName" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapsePrice" aria-expanded="false" aria-controls="'flush-collapsePrice">
              <p th:text="'Price'"></p>
            </button>
          </h2>
          <div th:id="flush-collapsePrice" class="accordion-collapse collapse" aria-labelledby="flush-headingPrice" data-bs-parent="#accordionFlushPrice">
            <form
                    role="form"
                    method="post"
                    th:action="@{/sort}"
                    th:object="${courseDTO}"
                    style="margin-right: 30px;"
            >
              <br>
              <input type="radio" th:value="'High to low'" name="option" onclick="this.form.submit()"><p th:text="'High to low'"></p>
              <br>

              <input type="radio" th:value="'Low to high'" name="option" onclick="this.form.submit()"><p th:text="'Low to high'"></p>
              <br>

              <input type="radio" th:value="'Free'" name="option" onclick="this.form.submit()"><p th:text="'Free'"></p>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-9 courseList" th:if="${courseList}!=null">
      <div style="margin-top: 120px;">
        <div th:if="${session.role == 2}">
          <a th:href="@{/addCourse}" id="addCourse">Add Course</a>
        </div>
        <div class="container-fluid">
          <th:block th:each="courseListEntity: ${courseList}">
            <div th:if="${session.role == 2}">
              <button type="button" id="addDiscount" th:data-courseid="${courseListEntity.courseID}"
                      th:name="'discount_' + ${courseListEntity.courseID}"
                      th:value="${courseListEntity.courseID}" class="btn btn-primary">Add Discount</button>
            </div>
            <form class="display"
                  role="form"
                  method="post"
                  th:action="@{/payment}"
                  th:object="${courseDTO}"
            >
              <a th:href="@{/courseDetails(courseID=${courseListEntity.courseID})}"><img th:src="'https://drive.google.com/uc?id='+${courseListEntity.courseImage}" alt="Image" class="shadow"></a>
              <div class="displayContent">
                <input type="text" name="fromPage" value="list" style="display: none">
                <input type="number" th:value="${courseListEntity.courseID}" th:name="courseID" style="display: none">
                <a th:href="@{/courseDetails(courseID=${courseListEntity.courseID})}"><h4 th:text="${courseListEntity.courseName}"></h4></a>
                <p th:text="${courseListEntity.courseDes}"></p>
                <div th:if="${listOfDiscount!=null}">
                  <div th:with="messageDisplay=false">
                    <div th:if="messageDisplay">
                      <p th:text="'Price: '+${courseListEntity.price}+'đ'" style="float: left; margin-left: 15px;"></p>
                    </div>
                    <div th:each="discounts, count: ${listOfDiscount}">
                      <div th:if="${discounts.courseID.courseID==courseListEntity.courseID}">
                        <p th:text="'Discount: '+${courseListEntity.price * (100 - discounts.percentage) / 100}+'đ'" style="float: left; margin-left: 15px; color: red"></p>
                        <input type="number" name="discountPrice" th:value="${courseListEntity.price * (100 - discounts.percentage) / 100}" style="display: none">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div th:if="${session.role == 2}">
                <a th:href="@{/updateCourse(courseID=${courseListEntity.courseID})}" id="updateButton">
                  Edit
                </a>
                <a th:href="@{/deleteCourse(courseID=${courseListEntity.courseID})}" id="del-a" onclick="return confirmDel()">
                  Delete
                </a>
              </div>
            </form>

          </th:block>
        </div>
      </div>
      <!-- codes given below for pagination -->
      <div th:if="${totalPages > 1}" style="margin-left: 5%;">
        <div>
          <div>Total Rows: [[${totalItems}]]</div>
          <div>
            <a th:if="${currentPage < totalPages}"
               th:href="@{'/course'+'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
            <span th:unless="${currentPage < totalPages}">Next</span> <span
                  th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
                  th:if="${currentPage != i}"
                  th:href="@{'/course'+'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>
					</span> <a th:if="${currentPage < totalPages}"
                               th:href="@{'/course'+'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
            <span th:unless="${currentPage < totalPages}">Last</span>
          </div>
        </div>
      </div>
      <!-- codes given above for pagination -->
    </div>
  </div>
</div>

<!-- ***** Footer *****-->
<footer style="margin-top: 30px">
  <div class="container-fluid footer-st">
    <div class="row">
      <div class="col-lg-4">
        <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">Follow us</p>
        <ul class="social-icons" style="margin-top: 10px;">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">About us</p>
        <div style="margin-top: 10px; text-align: center" >
          <a style="color: #fff">Our mission is to bring service to help people study better</a><br>
          <a style="color: #fff">Our team: FPT University-SWP391-Group 6</a>
        </div>
      </div>
      <div class="col-lg-4">
        <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">Further information</p>
        <div style="margin-top: 10px; text-align: center">
          <a th:href="@{/policy}" style="color: #fff;">Policy</a><br>
          <i class="fa-solid fa-phone" style="color: #fff;"></i><a style="color: #fff">Phone: 0393910645</a>
        </div>
      </div>
      <div class="col-lg-6" style="height: 50px">
        <a th:href="@{/home}" class="logo">
          <p style="
                  text-align: center;
                  margin-top: 40px;
                  color: #fff;
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                  letter-spacing: 2px;"
          >
            YourCourse
          </p>
        </a>
      </div>
      <div class="col-lg-6" style="height: 50px">
        <p class="copyright" style="margin-bottom: 0px"> © 2023 YourCourse Web Application</p>
      </div>
    </div>
  </div>
</footer>
<!-- ***** End Footer *****-->

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/lightbox.js"></script>
<script src="assets/js/tabs.js"></script>
<script src="assets/js/slick-slider.js"></script>
<script src="assets/js/custom.js"></script>
<script th:inline="javascript">

  function confirmDel(){
    if (confirm('Are you sure you want to delete this course?')) {
      return true;
    }
    return false;
  }
  
  const error = [[${errorDiscount}]] ;
  if (error!=null) {
    alert(error);
  }

  const message = [[${message}]];
  if (message!=null) {
    alert(message);
  }

  var submitAdd = document.getElementById('submit-add');
  var percentageInput = document.getElementById('percentage');
  var discountStartInput = document.getElementById('discountStart');
  var discountEndInput = document.getElementById('discountEnd');



    // Iterate over the list of courses and add a click event listener to each button
    var addDiscountButtons = document.querySelectorAll('[id="addDiscount"]');
    addDiscountButtons.forEach(function(btn) {
    btn.addEventListener('click', function() {
      var courseId = this.getAttribute('data-courseid');
      var discountCourseIdInput = document.getElementById('discountCourseID');

      // Set the course ID value in the hidden input field
      discountCourseIdInput.value = courseId;

      // Show the modal
      var discountModal = document.getElementById('discountModal');
      var modal = new bootstrap.Modal(discountModal);
      modal.show();
    });
  });

  function validateDiscount(){
    var check = true;

    // Validate the percentage field
    const percentage = percentageInput.value;
    if (percentage < 0 || percentage > 100) {
      alert('Percentage must be between 1 and 100');
      check = false;
      return check;
    }

    // Validate the start date field
    const discountStart = new Date(discountStartInput.value);
    const now = new Date();
    if (discountStart < now) {
      alert('Start date cannot be in the past');
      check = false;
      return check;
    }

    // Validate the end date field
    const discountEnd = new Date(discountEndInput.value);
    if (discountEnd < discountStart) {
      alert('End date cannot be before the start date');
      check = false;
      return check;
    }
  }

  submitAdd.onclick = validateDiscount

</script>
</body>
</html>