<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" th:href="@{assets/css/cart.css}">
    <link rel="stylesheet" th:href="@{assets/css/header.css}">
    <link rel="stylesheet" th:href="@{assets/css/footer.css}">
    <link rel="stylesheet" th:href="@{assets/css/profileStyle.css}">
    <title>User profile</title>
    <script src="https://kit.fontawesome.com/acf74393da.js" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Additional CSS Files -->
    <link rel="stylesheet" th:href="@{/assets/css/fontawesome.css}">
    <link rel="stylesheet" th:href="@{/assets/css/your-course.css}">

    <style>
        .cart-container {
            position: relative;
            display: inline-block;
        }

        .fa-rectangle {
            position: absolute;
            top: -0.9em;
            right: -1.2em;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 1.5em;
            background-color: #ffb963;
            border-radius: 50%;
            color: #ffb963;
            font-size: 0.8em;
            line-height: 1.5em;
        }

        .rectangle-number {
            display: inline-block;
            color: white;
        }

        .displayContent{
            width: 100%;
            height: 100%;
        }

        .displayContent h4{
            text-align: center;
            font-weight: bold;
            color: black;
        }

        .displayContent p{
            margin-left: 15px;
            color: dimgray;
        }
        .display img{
            overflow: hidden;
            width: 100px;
            height: 100px;
            margin: 5px 5px;
            border-radius: 10px;
        }

        .display {
            display: flex;
            transition: 0.3s;
            border-radius: 10px;
            margin-bottom: 30px;
            padding: 20px 0px 30px 5px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
        }

        .display:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }

        .buy-now{
            margin-right: 20px;
            float: right;
            border: none;
            font-size: 13px;
            background: linear-gradient(-145deg, rgba(219, 138, 222, 1) 0%, rgba(246, 191, 159, 1) 100%) !important;
            color: #fff;
            padding: 12px 30px;
            display: inline-block;
            border-radius: 5px;
            font-weight: 500;
            text-transform: uppercase;
            transition: all .3s;
        }

        .buy-now:hover{
            background: linear-gradient(-145deg, rgb(178, 102, 182) 0%, rgb(213, 154, 125) 100%) !important;
            border: none;
        }

        #confirmed{
            border: none;
            background: #74ce74;
            padding: 15px;
            border-radius: 7px;
            color: #fff;
            color: #fff;
            font-weight: 600;
        }

        #pending{
            border: none;
            padding: 10px 20px;
            background: cornflowerblue;
            border-radius: 7px;
            color: #fff;
            font-weight: 600;
            text-align: center;
            margin-right: 10px;
        }

        #reject{
            border: none;
            padding: 10px 20px;
            background: #ea0200;
            border-radius: 7px;
            margin-top: 5px;
            color: #fff;
            font-weight: 600;
            text-align: center;
            margin-right: 10px;
        }
    </style>
</head>
<body>


<!-- ***** OffCanvas Start *****-->
<div class="offcanvas offcanvas-end" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Cart</h1>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div th:if="${session.cart!=null}">
            <th:block th:each="cart, state: ${session.cart}">
                <form
                        role="form"
                        method="post"
                        th:action="@{/cart}"
                        th:object="${courseDTO}"
                >
                    <div class="cartContent" >
                        <div style="display: inline-flex">
                            <input type="text" name="fromPage" value="list" style="display: none">
                            <input type="number" th:value="${cart.courseID}" th:name="courseID" style="display: none">
                            <input type="number" name="discountPrice" th:value="${cart.price}" style="display: none">
                            <div>
                                <img th:src="'https://drive.google.com/uc?id='+${cart.courseImage}" style="width: 70px; height: 70px;">
                            </div>
                            <h4 th:text="${cart.courseName}"></h4>
                            <p th:text="'Price: '+${cart.price}+'đ'" style="float: left; margin-left: 15px; padding-top: 10px; font-weight: 500"></p>
                        </div>
                        <div style="display:inline-flex; margin-top: 10px">
                            <input type="submit" value="Buy now" class="buy-now-cart" name="paymentButton">
                            <input type="submit" value="Remove from cart" class="buy-now-cart" name="paymentButton">
                        </div>
                    </div>
                </form>
            </th:block>
            <button id="check-out"><a th:href="@{/checkout(cartButton = 'checkout')}" th:text="'Check out: '+${session.sum}+'đ'"></a></button>
            <form
                    role="form"
                    method="post"
                    th:action="@{/cart}"
                    th:object="${courseDTO}"
            >
                <input id="remove-all" type="submit" name="paymentButton" value="Remove All">
                <input type="text" name="fromPage" value="list" style="display: none">
            </form>
        </div>
        <div th:if="${session.cart==null}">
            <div class="cartContent" style="display: inline-flex">
                <h4 style="margin-bottom: 10px;">Cart is empty</h4>
            </div>
        </div>
    </div>
</div>
<!-- ***** OffCanvas End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky" style="z-index: 1030">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a th:href="@{/home}" class="logo">
                        <p style="margin-top: 40px; color: white">YourCourse</p>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <form
                                role="form"
                                method="post"
                                th:action="@{/search}"
                                th:object="${courseDTO}"
                        >
                            <input type="text" th:field="*{courseName}" placeholder="Search.." style="opacity: 0.5; border-radius: 7px">
                        </form>
                        <li class="has-sub">
                            <a>Category</a>
                            <ul class="sub-menu">
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=1)}">Language Learning</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=2)}">Web development</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=3)}">Web design</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=4)}">IT Fundamental</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=5)}">Mathematics</a></li>
                                <li><a th:href="@{/getCourseByCategoryID(categoryID=6)}">Programming</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/course}">Courses</a></li>
                        <li class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo"
                            style="color: white; background: none; border: none">
                            <div class="cart-container">
                                <i class="fa-solid fa-shopping-cart"></i>
                                <th:block th:if="${session.cart!=null}">
                                    <i class="fa-solid fa-rectangle"><span class="rectangle-number">[[${session.cartSize}]]</span></i>
                                </th:block>
                            </div>
                        </li>
                        <p th:if="${session.CSys}!=null">
                        <li><a th:href="@{/myCourse}">My Course</a></li>
                        </p>
                        <li class="has-sub">
                            <i class="fa-solid fa-user" style="color: white">
                                <ul class="sub-menu">
                                    <p th:if="${session.CSys}!=null">
                                    <li th:if="${session.role==2}"><a th:href="@{/dashboard}">Dashboard</a></li>
                                    <li><a th:href="@{/profile}">My Account</a></li>
                                    <li><a th:href="@{/logout}">Log out</a></li>
                                    </p>
                                    <p th:if="${session.CSys}==null">
                                    <li><a th:href="@{/login}">Log in</a></li>
                                    </p>
                                </ul>
                            </i>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<!-- ***** Error Session *****-->
<div class="container" style="align-content: center">
    <div th:if="${param.errorGmail}!=null">
        <h2 style="color: red; font-weight: bold">Gmail existed!</h2>
    </div>
    <div th:if="${param.error}!=null">
        <h2 th:text="${param.error}" style="color: red; font-weight: bold"></h2>
    </div>
</div>
<!-- ***** End Error Session *****-->

<!-- ***** Welcome Area Start ***** -->
<section class="py-5 my-5">
    <div class="container">
        <div class="bg-white shadow rounded-lg d-block d-sm-flex">
            <div class="profile-tab-nav border-right">
                <div class="p-4">
                    <div class="img-circle text-center mb-3">
                        <img th:src="'https://drive.google.com/uc?id='+${userInfo.avatar}" alt="Image" class="shadow">
                    </div>
                    <form
                            method="post"
                            enctype="multipart/form-data"
                            th:action="@{updateAvatar}"
                    >
                        <input type="file" name="file"/>
                        <input type="submit" value="Upload"/>
                    </form>
                    <h4 class="text-center">YourName</h4>
                </div>
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
                        <i class="fa fa-home text-center mr-1"></i>
                        Account
                    </a>
                    <a class="nav-link" id="security-tab" data-toggle="pill" href="#gmail" role="tab" aria-controls="security" aria-selected="false">
                        <i class="fa fa-user text-center mr-1"></i>
                        Gmail
                    </a>
                    <a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
                        <i class="fa fa-key text-center mr-1"></i>
                        Password
                    </a>
                    <a class="nav-link" id="notification-tab" data-toggle="pill" href="#notification" role="tab" aria-controls="notification" aria-selected="false">
                        <i class="fa fa-book text-center mr-1"></i>
                        Your Course
                    </a>
                    <a class="nav-link" id="payment-tab" data-toggle="pill" href="#payment" role="tab" aria-controls="notification" aria-selected="false">
                        <i class="fa fa-credit-card text-center mr-1"></i>
                        Your payment
                    </a>
                </div>
            </div>
            <div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
                    <h3 class="mb-4">Account Settings</h3>
                    <form class="row"
                          method="post"
                          id="form1"
                          th:action="@{saveUser}"
                          th:object="${userInfo}"
                    >
                        <input type="number" th:field="*{userID}" th:value="${userInfo.userID}" style="display: none">
                        <input type="text" th:field="*{avatar}" th:value="${userInfo.avatar}" style="display: none">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" class="form-control" th:value="${userInfo.userName}"
                                       th:field="*{userName}"
                                       name="userName"
                                       id="userName"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Phone number</label>
                                <input type="text" class="form-control" th:value="${userInfo.phoneNums}"
                                       th:field="*{phoneNums}"
                                       name="phoneNums"
                                       id="phoneNums"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Location</label>
                                <input type="text" class="form-control" th:value="${userInfo.location}"
                                       th:field="*{location}"
                                       name="location"
                                       id="location"
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date of birth</label>
                                <input type="text" class="form-control"
                                       placeholder="yyyy-mm-dd"
                                       th:value="${userInfo.dob}"
                                       min="1997-01-01" max="2030-12-31"
                                       th:field="*{dob}"
                                       name="dob"
                                       id="dob"
                                >
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Bio</label>
                                <textarea class="form-control" rows="4" th:value="${userInfo.aboutMe}"
                                          th:field="*{aboutMe}"
                                          name="aboutMe"
                                          id="aboutMe"
                                ></textarea>
                            </div>
                        </div>
                        <input type="text" hidden th:field="*{accountID}" th:value="${id}">
                        <input type="submit" value="update" id="submit-account" class="update">
                    </form>
                </div>
                <div class="tab-pane fade" id="gmail" role="tabpanel" aria-labelledby="gmail-tab">
                    <h3 class="mb-4">Gmail Settings</h3>
                    <form class="row"
                          method="post"
                          th:action="@{/verifyCodeSendForChangeGmail}"
                          th:object="${system_account}"
                    >
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" th:value="${currentGmail}"
                                       th:field="*{gmail}"
                                       name="gmailChange"
                                       id="gmailChange"
                                >
                            </div>
                        </div>
                        <input type="submit" value="update" class="update">
                    </form>
                </div>
                <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                    <h3 class="mb-4">Password Settings</h3>
                    <form   class="row"
                            method="post"
                            role="form"
                            th:action="@{/changePasswordWithOldPasswordConfirm}"
                            th:object="${system_account}"
                    >
                        <div  class="col-md-6">
                            <div class="form-group">
                                <label>Old password</label>
                                <input
                                        type="password"
                                        class="form-control"
                                        id="oldPassword"
                                        name="oldPassword"
                                >
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div class="form-group" >
                                <label>Enter Password</label>
                                <input
                                        class="form-control"
                                        type="password"
                                        id="newPassword"
                                        name="password"
                                        th:field="*{accountPassword}"
                                        required
                                >
                            </div>
                        </div>
                        <div  class="col-md-6">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" id="confirm"
                                       class="form-control"
                                       required>

                            </div>
                        </div>
                        <input type="submit" value="Change" class="update">
                    </form>
                </div>
                <div class="tab-pane fade" id="notification" role="tabpanel" aria-labelledby="notification-tab">
                    <h3 class="mb-4">Purchased course</h3>
                    <div style="overflow-y: scroll">
                        <div class="container-fluid">
                            <th:block th:each="courseListEntity: ${courseList}">
                                <form class="display"
                                      role="form"
                                      method="post"
                                      th:action="@{/payment}"
                                      th:object="${courseDTO}"
                                >
                                    <a th:href="@{/courseDetails/learn(courseID=${courseListEntity.courseID})}"><img th:src="'https://drive.google.com/uc?id='+${courseListEntity.courseImage}" alt="Image" class="shadow"></a>
                                    <div class="displayContent">
                                        <input type="text" name="fromPage" value="list" style="display: none">
                                        <input type="number" th:value="${courseListEntity.courseID}" th:name="courseID" style="display: none">
                                        <a th:href="@{/courseDetails/learn(courseID=${courseListEntity.courseID})}"><h4 th:text="${courseListEntity.courseName}"></h4></a>
                                        <p th:text="${courseListEntity.courseDes}"></p>
                                        <button class="buy-now" name="paymentButton">
                                            <a th:href="@{/courseDetails/learn(courseID=${courseListEntity.courseID})}" style="color: #fff">You've bought this course</a>
                                        </button>
                                    </div>
                                </form>
                            </th:block>
                            <div>
                                <button
                                        id="myCourseButton"
                                ><a th:href="@{/myCourse}"
                                    style="color: #fff"
                                >See full purchased course</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="password-tab">
                    <h3 class="mb-4" style="font-weight: 900;">Your Payment</h3>
                    <div th:each="payments: ${paymentList}" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);margin-bottom: 20px;border-radius: 7px">
                        <div style="margin-left: 20px">
                            <div style="margin-top: 15px">
                                <span th:text="'Payment amount: '+${payments.paymentAmount}" style="font-weight: 700;margin: 10px 10px 0px 0px;"></span>
                                <span th:text="'Payment date: '+${payments.paymentDate}" style="font-weight: 700;margin: 10px 10px 0px 0px;"></span>
                                <span style="font-weight: 700;margin: 10px 10px 0px 0px;">
                                <th:block th:if="${payments.status=='Confirm'}">
                                    <button th:text="'Status: '+${payments.status}" id="confirmed"></button>
                                </th:block>
                                <th:block th:if="${payments.status=='Pending'}">
                                    <button th:text="'Status: '+${payments.status}" id="pending"></button>
                                </th:block>
                                <th:block th:if="${payments.status == 'Reject'}">
                                    <button th:text="'Status: '+${payments.status}" id="reject"></button>
                                </th:block>
                            </span>
                            </div>

                        </div>
                        <div th:each="paymentDetails: ${paymentDetailsList}">
                            <div th:if="${payments.paymentID == paymentDetails.paymentID.paymentID}">
                                <div>
                                    <div th:each="all: ${allCourse}">
                                        <div th:if="${all.courseID == paymentDetails.courseID.courseID}">
                                            <div class="container-fluid" style="display: flex; margin-top: 20px;">
                                                <a th:href="@{/courseDetails/learn(courseID=${all.courseID})}"><img th:src="'https://drive.google.com/uc?id='+${all.courseImage}" alt="Image" class="shadow"
                                                    style="overflow: hidden;width: 60px;height: 60px;margin: 5px 5px;border-radius: 10px;"></a>
                                                <div class="displayContent">
                                                    <input type="text" name="fromPage" value="list" style="display: none">
                                                    <input type="number" th:value="${all.courseID}" th:name="courseID" style="display: none">
                                                    <a th:href="@{/courseDetails/learn(courseID=${all.courseID})}"><h4 th:text="${all.courseName}"></h4></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ***** Footer *****-->
<footer style="margin-top: 30px">
    <div class="container-fluid footer-st" style="padding: 10px 0px 20px 0px;">
        <div class="row">
            <div class="col-lg-4">
                <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">Follow us</p>
                <ul class="social-icons" style="margin-top: 10px;">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">About us</p>
                <div style="margin-top: 10px; text-align: center" >
                    <a style="color: #fff">Our mission is to bring service to help people study better</a><br>
                    <a style="color: #fff">Our team: FPT University-SWP391-Group 6</a>
                </div>
            </div>
            <div class="col-lg-4">
                <p style="text-align: center; margin-bottom: 12px; color: #fff; font-weight: bold">Further information</p>
                <div style="margin-top: 10px; text-align: center">
                    <a th:href="@{/policy}" style="color: #fff;">Policy</a><br>
                    <i class="fa-solid fa-phone" style="color: #fff;"></i><a style="color: #fff">Phone: 0393910645</a>
                </div>
            </div>
            <div class="col-lg-6" style="height: 50px">
                <a th:href="@{/home}" class="logo">
                    <p style="
                  text-align: center;
                  margin-top: 40px;
                  color: #fff;
                  font-size: 14px;
                  font-weight: 700;
                  text-transform: uppercase;
                  letter-spacing: 2px;"
                    >
                        YourCourse
                    </p>
                </a>
            </div>
            <div class="col-lg-6" style="height: 50px">
                <p class="copyright" style="margin-bottom: 0px"> © 2023 YourCourse Web Application</p>
            </div>
        </div>
    </div>
</footer>
<!-- ***** End Footer *****-->

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="assets/js/isotope.min.js"></script>
<script src="assets/js/owl-carousel.js"></script>
<script src="assets/js/lightbox.js"></script>
<script src="assets/js/tabs.js"></script>
<script src="assets/js/slick-slider.js"></script>
<script src="assets/js/custom.js"></script>
<script th:inline="javascript">

    const error = [[${error}]] ;
    if (error!=null) {
        alert(error);
    }

    const success = [[${success}]];
    if (success!=null) {
        alert(success);
    }

    var oldPassword = document.getElementById("oldPassword"),
        password = document.getElementById("newPassword"),
        confirm_password = document.getElementById("confirm");

    function validatePassword(){
        var passwordRegex = /^(?=.*\d)(?=.*[!@#$%^_&*])(?=.*[a-zA-Z]).{6,}$/;
        var isValidPassword = passwordRegex.test(password.value);
        if(oldPassword.value == null) {
            oldPassword.setCustomValidity("This field should not be empty");
        }
        if(password.value == null) {
            password.setCustomValidity("This field should not be empty");
        }
        if(confirm_password.value == null) {
            confirm_password.setCustomValidity("This field should not be empty");
        }
        if(!isValidPassword){
            password.setCustomValidity("Password must contain at least 6 characters, including UPPER/lowercase and numbers");
        }
        else {
            password.setCustomValidity('');
        }
        if(password.value != confirm_password.value){
            confirm_password.setCustomValidity("Passwords Don't Match");
        }
        if(password.value == confirm_password.value && isValidPassword){
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;


    var submitAccount = document.getElementById("submit-account");


    // Get the input fields for this form
    var userName = document.getElementById('userName')
    var phoneNums = document.getElementById('phoneNums')
    var dob = document.getElementById('dob')

    function validateAccount(){
        // Validate the userName field
        if (userName.value.length < 2) {
            // Set a custom error message for the input field
            userName.setCustomValidity('Full name must be at least 2 characters long.');
        } else {
            // Clear any previous error message for the input field
            userName.setCustomValidity('');
        }

        // Validate the phoneNums field
        if (!/^\d{7,11}$/.test(phoneNums.value)) {
            // Set a custom error message for the input field
            phoneNums.setCustomValidity('Phone number must be between 7 and 11 digits long and contain only numbers.');
        } else {
            // Clear any previous error message for the input field
            phoneNums.setCustomValidity('');
        }

        // Validate the dob field
        const dobRegex = /^\d{4}-\d{2}-\d{2}$/;
        if (!dobRegex.test(dob.value)) {
            // Set a custom error message for the input field
            dob.setCustomValidity('Date of birth must be in the format yyyy-mm-dd.');
        } else {
            // Clear any previous error message for the input field
            dob.setCustomValidity('');
        }
    }

    submitAccount.onclick = validateAccount;
</script>
</body>
</html>